/** LOADER */
div.loader {
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:fixed !important;
	z-index:99999 !important;

	background:#000;
	opacity:0.4;

	display:none;

}

div.loader .overlay{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute !important;
	width:87px;
	height:100px;
}

div.loader .overlay i{
	font-size:100px;
	color:#FFF;
}

/**	HEADER **/
#header {
	background-color: #e9e9e9;
	border-color: #ddd;
	color: #333;
	text-shadow: 0 1px 0 #eee;
	font-weight: 700;

	border-width: 1px 0;
    border-style: solid;
    position: relative;
}
