<style>
    body {
        font-family:arial !important;
    }

    input {
        font-size:15px !important;
        padding:10px !important;
        height:50px !important;
        line-height: 50px !important;
    }
</style>