div.view{
	display:none;
}

header.main-header .logo span.logo-lg img, header.main-header .logo span.logo-mini img {
	height:45px;
	line-height: 50px;
	display:inline;
}

label.error{
	color:red;
}

a[name="btn_editProfile"]{
	color:#3c8dbc !important;
}


/** LOADER */
div.loader {
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:fixed !important;
	z-index:99999 !important;

	background:#000;
	opacity:0.4;

	display:none;

}

div.loader .overlay{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute !important;
	width:87px;
	height:100px;
}

div.loader .overlay i{
	font-size:100px;
	color:#FFF;
}


.W1000 {
	width: 1000px;
}

.modal .upload > img {
    width: 140px;
    height: 140px;
    text-align: center;
    line-height: 140px;
    font-size: 100px;
    color: #D3D3D3;
}

.modal .upload {
	border:0;
}

.modal img[field-type="Photo"]{
	cursor:pointer;
}
