html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

select {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border-color: #ccc;
    background-color: transparent !important;
}

.col-center {
    float: none;
    margin: 40px auto 0 auto;
}

.login > .container > .col-center.well {
    margin: 25% auto 0 auto !important;
}

.signup > .container > .col-center.well {
    margin: 10 auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3d3d3d;
    overflow-x: hidden;
    transition: width 0.5s ease;
}

.sidenav img {
    padding: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #FFF;
    display: block;
    transition: 0.3s;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0px;
}

.sidenav .divider {
    display: block;
    width: 95%;
    margin: auto;
    border: solid 1px #504c4c;
}

.sidenav a span.glyphicon {
    padding-right: 5px;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
    background-color: #536e7b;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 12px;
    margin-left: 50px;
}

div.mainsearch-body {
    margin-top: 10px !important;
}

#main {
    transition: margin-left .5s;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 12px;
    }
}

header {
    padding: 10px;
    background-color: #f7f7f8;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    position:fixed;
    width:100%;
    top:0;
    z-index: 9;
}

header a.btnBack {
}

header a.btnSave {
    float: right;
}
header span.btnBack:hover {
    background: #ebebeb;
}

header h3.title {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    top: 20px;
    text-align: center;
    font-size: 15px;
}
/*Toggle Menu*/

span.toggleMenu {
    font-size: 25px;
    cursor: pointer;
    color: #118fcc;
}


/*Title*/

.header-title {
    color: #118fcc;
}

.header-subtitle {
    font-weight: bold;
    color: #607D8B;
}

label.registerAccount, label.loginAccount {
    text-decoration: none;
    color: #607D8B;
    float: right;
    font-size: 13px;
}

label.registerAccount a, label.loginAccount a {
    text-decoration: underline;
    color: #607D8B;
    float: right;
    font-weight: bold;
    margin-left: 5px;
}


/*Input*/

input[type="text"], input[type="password"], input[type="date"], input[type="search"], input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="search"]:focus {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
    outline: 0 !important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus {
    border-color: #689F38;
}


/*Button*/

.btn-submit {
    border-radius: 2px;
    border-color: #007ebd;
    background-color: #118fcc;
    color: #FFF;
}

button.search:active {
    box-shadow: none;
}

button.search {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border-radius: 0px;
}

button:focus {
    outline: none !important;
}

button.search span {
    color: FFF !important;
}

@media(max-width:425px) {
    button.search {
        padding: 5px;
    }
    .spanSearch {
        padding: 10px 2% !important;
    }
    .addWidth {
        width: 60% !important;
    }
}

@media(min-width:425px) and (max-width:700px) {
    input.addWidth {
        width: 70% !important;
    }
}

@media(min-width:1024px) {
    div#mainsearch {
        padding: 10px 70px 10px 30px !important;
    }
}


/**/

.displayBlock {
    width: 250px;
    transition: 0.5s ease;
}

.addMargin {
    margin-left: 250px;
    transition: 0.5s ease;
}

div#mainsearch {
    width: 20%;
    height: 55px;
    padding: 10px;
    float: right;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    -webkit-transition: background 1s;
    transition: background 1s;
    position: absolute;
    text-align: right;
    color: #FFF !important;
    right: 0;
}

div#mainsearch label {}

div#mainsearch label, div#mainsearch input {
    font-size: 16px;
    padding: 0px 10px;
    color: #FFF;
}

.spanSearch {
    background: #8BC34A;
    width: 100% !important;
    position: absolute;
    top: 0;
    right: 0;
    /*margin: 0 auto;*/
}

.hideShow {
    display: inline-block !important;
}

.addWidth {
    width: 80%;
}

.hidden {
    display: none;
}

div.content-wrapper {
    min-height: 100%;
    position: relative;
    /* Firefox */
    min-height: -moz-calc(100% - 30px);
    /* WebKit */
    min-height: -webkit-calc(100% - 30px);
    /* Opera */
    min-height: -o-calc(100% - 30px);
    /* Standard */
    min-height: calc(100% - 30px);
}

div.btn-holder {
    height: 65px;
    margin-left: auto;
    clear: both;
    width: 100%;
    position: absolute;
    bottom: 10px;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.btn-book {
    background-color: #118fcc;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: #FFF !important;
    text-transform: uppercase;
    padding: 14px 16px;
}

.btn:hover,
.btn:focus,
.btn-book:active,
.btn-book:focus,
.btn-book:hover,
 {
    outline: none !important;
    color: #FFF !important;
}

.btn-close {
    border: 0px;
    outline: none;
    box-shadow: 0;
    border-radius: 0px;
}

.btn-close:hover, .btn-close:focus {
    outline: 0;
    background-color: transparent;
}

.search:hover, .search:focus {
    background-color: transparent;
}

.btn-close-div {
    border-right: 1px solid #ccc;
}


/**search**/

div.search-destination {
    margin-top: 10px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    width: 100vw;
}

div.search-destination .panel {
    margin-bottom: -1px !important;
    border-radius: 0px !important;
}

div#ridersInformation .panel-body,
div#startLocation .panel-body, div#endLocation .panel-body,
div#modal-startLocation .panel-body, div#modal-endLocation .panel-body {
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}

div#ridersInformation .panel-body h4,
div#startLocation .panel-body h4, div#endLocation .panel-body h4,
div#modal-startLocation .panel-body h4, div#modal-endLocation .panel-body h4 {
    font-size: 15px;
}

div#ridersInformation .panel-body h4 i,
div#startLocation .panel-body h4 i, div#endLocation .panel-body h4 i,
div#modal-startLocation .panel-body h4 i, div#modal-endLocation .panel-body h4 i {
    margin-right: 10px;
}

div#startLocation .panel-body h4 i,
div#modal-startLocation .panel-body h4 i {
    color: #1976D2
}

div#endLocation .panel-body h4 i,
div#modal-endLocation .panel-body h4 i {
    color: #D32F2F;
}

.modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
}

.modal.in .modal-dialog {
    transform: translate3d(0, 0, 0);
}

div.modal {
    padding: 0px !important;
}

.modal-dialog {
    width: 100% !important;
    margin: 0 auto;
}

.modal-content {
    border-radius: 0px;
}

.modal-header {
    padding: 10px;
}

.modal-body {
    background-color: #f4f4f4;
    padding: 10px;
}

.pac-container {
    background-color: #FFF;
    z-index: 1051 !important;
    position: fixed;
    display: inline-block;
    float: left;
}

.pac-container .pac-item {
    margin: 5px 0;
    border: 1px solid #ccc;
    padding: 6px 100px 6px 10px;
    background-color: #FFF;
}

div.book-rate-result {
    border: solid 1px #ddd;
}

div.book-rate-result .panel-body {
    text-align: center;
    padding: 0px;
}

div.book-rate-result .panel-body div {
    padding: 10px;
    border-right: solid 1px #ddd;
}

div.book-rate-result .panel-body div:last-child {
    border-right: 0;
}


div.marker-icon {
    padding: 10px 20px;
    text-align: center;
    color: #757575;
}


/** LOADER */
div.loader {
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:fixed !important;
	z-index:99999 !important;

	background:#000;
	opacity:0.4;

	display:none;

}

div.loader .overlay{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute !important;
	width:87px;
	height:100px;
}

div.loader .overlay i{
	font-size:100px;
	color:#FFF;
}


div.map {
    position: absolute;
    width: 100%;
    height: calc(100vh - 55px);
    margin-top:55px;
}

div.module-content {
    margin-top: 55px;
    overflow-y: scroll;
}


div.booking-view {
    height: calc(100vh - 55px);
    margin-top: 55px;
    padding: 10px;
    background: #fff;
    overflow-y: auto;
}

div.booking-view .row{
    margin: 0px 0px 10px 0px;
    border: solid 1px #ddd;
}

div.booking-location {
    width: 85%;
    display: inline-block;
    float:left
}

div.booking-location .booking-pickup {
    padding: 10px 20px;
    border: 0px;
    border-bottom: solid 1px #ddd;
}

div.booking-location .booking-pickup i {
    color: #1976D2;
}

div.booking-location .booking-dropoff{
    padding: 10px 20px;
    border: 0;
}

div.booking-location .booking-dropoff i {
    color: #D32F2F;
}

div.booking-location .booking-pickup label,
div.booking-location .booking-dropoff label {
    display: inline;
}

div.booking-button {
    width: 15%;
    display: inline-block;
    height: auto;
    line-height: 93px;
    background: #118fcc;
}

div.booking-button button{
    width: 100%;
    height: 100%;
    background: #118fcc;
    border-radius: 0;
    border: 0px;
}

.booking-view-default {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

i.fa-circle {
    color: #1976D2;
}

i.fa-map-marker {
    color: #D32F2F;
}

img[name="photo"] {
    width: 140px;
    height: 140px;
    text-align: center;
    line-height: 140px;
    font-size: 100px;
    color: #D3D3D3;
}

.account .upload {
	border:0;
}

#customerImage,
#riderImage {
    width: 50px;
    height: 50px;
    border: solid 1px #ddd;
}
